html {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1{
    color: palevioletred;
    display: flex;
    align-self: center;
}

.link-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: auto;
    border: grey solid 3px;
    border-radius: 25px;
    padding: 75px;
}

h3,
h4{
    display: flex;
    align-self: center;
}

.form-container{
    display: flex;
    flex-direction: column;
}

.red-text{
    color: rgb(204, 4, 4);
    font-size: 12px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 80px 20px;
}

.developed{
    padding: 0 10px;
    font-size: smaller;
}

.url{
    padding: 0 10px;
    font-weight: bold;
}

label{
    margin-top: 30px;
}

.btn{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}