html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: palevioletred;
    display: flex;
    align-self: center;
}

.link-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;

}

